---
interface Props {
  color?: string;
  height?: string | number;
  hfull?: boolean;
  cookieConsent?: boolean;
  top?: boolean;
}

const isTop = Astro.props.top || false;
const position = isTop ? 'justify-start' : 'justify-center';
const bgdiv = Astro.props.color ? Astro.props.color : 'bg-div';
const color = Astro.props.color || 'bg-gray-900';
const height =
  Astro.props.height && Astro.props.height == 100
    ? 'min-h-full'
    : `min-h-${Astro.props.height}` || 'bg-gray-900';

const mainDiv = `w-full ${height} bg-amber-500 ${color} flex flex-col ${position} ${bgdiv}`;
const hfull = Astro.props.hfull ? 'h-full' : '';


---

<div class={mainDiv}>
  <div class={`${hfull} flex flex-row justify-center`}>
    <slot />
  </div>
</div>
